Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

#páginas
RewriteRule ^sample/?$ views/sample.php 
RewriteRule ^home/?$ views/home.php 

#Productos
RewriteRule ^products/?$ views/products/index.php 
RewriteRule ^products/create/?$ views/products/create.php 
RewriteRule ^products/details/([^\/]+)/?$ views/products/details.php?id=$1 [L]
RewriteRule ^products/update/([^\/]+)/?$ views/products/update.php?id=$1 [L]

#Usuarios
RewriteRule ^users/?$ views/users/index.php 
RewriteRule ^users/create/?$ views/users/create.php 
RewriteRule ^users/details/([^\/]+)/?$ views/users/details.php?id=$1 [QSA,L]

#authController
RewriteRule ^auth/?$ app/AuthController.php [L]

#ProductController
RewriteRule ^product/?$ app/ProductsController.php [NC,L]

#ProductController
RewriteRule ^user/?$ app/UserController.php [NC,L]



#RewriteCond %{REQUEST_URI} ^\/404/$
#RewriteRule ^(.*)$ /views/errors/404.php [L]